%h1 Edit New Task #{@task.title}
- if flash[:message]
    %p= flash[:message]
= form_tag update_task_path(@task.id), :method => :put do
    .form_row
        .form-group
        = label :task, :title, 'Title: '
        = text_field :task, 'title', class: "form-control"
        .form-group
        = label :task, :description, 'Description: '
        = text_field :task, 'description', class: "form-control"
    .form-group
        .form-check
        %br
        .form_row
            %p{:style => "font-weight: bold;"} Parent Tasks:
            .form_row
            // to do, retrive parents from task db
    .form-group
        = submit_tag 'Edit Task', :class => "btn btn-primary"
        
%br
= form_tag update_task_path(@task.id), :method => :delete do
    = submit_tag 'Delete Task', :class => "btn btn-primary"