- if flash[:message]
    %p= flash[:message]
%h2= "#{@task.title}  update history"
%table.table#iterations

    %tbody
        - @histories.each do |h|
            %tr
                %td= h.getUpdate
               

%br
= form_tag iterations_path, :method => :post do
    = submit_tag "New Iteration", :class => "btn btn-primary"