:css
  #whitelist{
      border-collapse: collapse;
      width: 80%;
      margin-right: auto;
  }
  
  #whitelist td, #whitelist th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  
  #whitelist tr:nth-child(even){background-color: #f2f2f2;}
  
  #whitelist tr:hover {background-color: #ddd;}
  
  #whitelist th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #337ab7;
      color: white;
  }
  #whitelist tr {
     text-align: left;
  }

%h1 Whitelist

%table#whitelist
  %thead
    %tr
      %th Authorized GitHub Accounts
      %th Action

  %tbody
    - @permitted_users.each do |user|
      %tr
        %td= user.username
        - unless user.username.eql?(current_user.provider_username)
          %td= link_to "Delete", whitelist_path(user), :method => :delete, data: { confirm: "Do you want to delete user #{user.username} from the whitelist?" }, :user => user
        -else
          %td  

%br/

= link_to 'Add user to whitelist', new_whitelist_path

%br/

= link_to 'Back to project page', projects_url
