%h1 Preference Settings
-#%div
-#	= check_box_tag "check_all", 0, true
-#	= label_tag "check_all", "Check all"
= form_tag user_path, :method => :put do
  %div#project-preference-list
    %h4 Check projects to monitor:
    - @all_projects.each do |project|
      %div
        = check_box_tag "projects[#{project.id}]", 0, (@preferred_projects.include? project), :class => "project_checkbox"
        = label_tag "projects_#{project.id}", project.name
  - @preferred_metrics = @preferred_metrics[0]
  %div#metric-preference-list
    %h4 Check Metrics to monitor:
    - @all_metrics.each do |metric|
      - if @preferred_metrics.include? metric
        %div{:class =>"panel panel-default"}
          %div.panel-heading
            %input{:type => "checkbox", :checked => (@preferred_metrics.keys.include? metric), :class => 'metrics_checkbox'}
            = metric.camelcase
          %div.panel-body
            - @all_metrics.each do |sub_metrics|
              = check_box_tag "metrics[#{metric}][#{sub_metrics}]", "checked", (@preferred_metrics[metric].include? sub_metrics), :class => "sub_metrics_checkbox"
              = sub_metrics.camelcase
              %p
      - else
        %div{:class =>"panel panel-default"}
          %div.panel-heading
            %input{:type => "checkbox", :checked => FALSE, :class => 'metrics_checkbox'}
            = metric.camelcase
          %div.panel-body
            - @all_metrics.each do |sub_metrics|
              = check_box_tag "metrics[#{metric}][#{sub_metrics}]", "checked", FALSE, :class => "sub_metrics_checkbox"
              = sub_metrics.camelcase
              %p
  %br
  = submit_tag "Save", :id => "project_preference_submit", :class => "btn btn-default"
%br
= link_to "Back", root_path, :class => "btn btn-primary"
