-#= form_tag comments_path, id: "comment_form_#{identity}", remote: true do
-#  = hidden_field_tag 'ctype', 'general_comment'
-#  = hidden_field_tag 'params', '{}'
-#  = hidden_field_tag 'user_id', current_user.id
-#  = hidden_field_tag 'metric_sample_id', @parent_metric.id
-#  %div.form-group
-#    %textarea.form-control#content{placeholder: 'Comments', rows: 3, name: 'content', form: "comment_form_#{identity}"}
-#  %div.form-group
-#    %button.btn.btn-danger#button_clear
-#      Clear
-#    %button.btn.btn-primary{role: 'submit'}
-#      Submit

= form_tag comments_path, id: "comment_form_#{num}", remote: true do
  = hidden_field_tag 'ctype', 'general_comment'
  = hidden_field_tag 'params', '{}'
  = hidden_field_tag 'user_id', current_user.id
  - if ms_id == "general_metric"
    = hidden_field_tag 'metric', @metric_name
    = hidden_field_tag 'project_id', @project.id
  -else 
    = hidden_field_tag 'metric_sample_id', ms_id
  %div.input-group
    %textarea.form-control#content{placeholder: 'Add Comment', rows: 1, name: "content", form: "comment_form_#{num}"}
    %span.input-group-btn
      %button.btn.btn-danger#button_clear
        Clear
      %button.btn.btn-primary{role: 'submit'}
        = button_name