%td{:valign => "botom", :align => "right"}
  = link_to project.name, "projects/#{project.id}/new_edit"
  %button{:class => "expand_button", :pid => "#{project.id}"}
    = "+"
- preferred_metrics = preferred_metrics[0]
- project.latest_metric_samples(preferred_metrics.keys).each do |sample|
  %td
    - if !sample.nil?
      -#%p
      -#  = sample.try(:metric_name).titleize + " " + '%.2f'.try(:%,sample.try(:score) || 0.0)
      %div.chart_place{:id => "project-#{project.id}-metric-#{sample.try(:metric_name)}"}
      %div.hello_world
        %p
          = link_to "see details", "projects/#{project.id}/metrics/#{sample.metric_name}/detail"
        %p.expand_metric{:data => {:toggle=>"modal", :target=>"#myModal#{project.id}#{sample.try(:metric_name)}"}}
          expand
        %div.modal.fade{:id=>"myModal#{project.id}#{sample.try(:metric_name)}", :tabindex=>"-1", :role=>"dialog", :aria => {:labelledby=>"myModalLabel"}}
          %div.modal-dialog.modal-lg
            %div.modal-content
              %div.modal-header
                %h4.modal-title
                  = sample.try(:metric_name)
              %div.modal-body
                - preferred_metrics[sample.try(:metric_name)].each do |sub_metric|
                  -# %div.sub_chart_place
                  -#   = render partial: "sub_metrics/#{sub_metric}", locals: {project: project}
                  %div.sub_chart_place{:id => "sub_project-#{project.id}-metric-#{sub_metric}"}
                  %br

              %div.modal-footer
