%td{:valign => "botom", :align => "right"}
  - if current_user.is_student? and not current_user.is_owner_of? project
    = project.name
  - else
    = link_to project.name, "projects/#{project.id}/new_edit"
- preferred_metrics = preferred_metrics[0]
- project.latest_metric_samples(preferred_metrics.keys).each do |sample|
  %td
    - if !sample.nil?
      %div.chart_place{:id => "project-#{project.id}-metric-#{sample.try(:metric_name)}"}
      %div.hello_world
        %p
          = link_to "see details", "projects/#{project.id}/metrics/#{sample.metric_name}/detail"