%td{:valign => "botom", :align => "right"}
  = link_to project.name, "projects/#{project.id}/new_edit"
  %button{:class => "expand_button", :pid => "#{project.id}"}
    = "+"
- project.latest_metric_samples.each do |sample|
  %td
    - if !sample.nil?
      %p
        = sample.try(:metric_name).titleize + " " + '%.2f'.try(:%,sample.try(:score) || 0.0)
      %div.chart_place{:id => "project##{project.id}.metric:##{sample.try(:metric_name)}"}
        -# = "PLACEHOLDER"
        -#%span{:class => "metric_image"}#{raw sample.try(:image)}
      %div.hello_world
        %p.expand_metric{:data => {:toggle=>"modal", :target=>"#myModal#{project.id}#{sample.try(:metric_name)}"}}
          expand
        %div.modal.fade{:id=>"myModal#{project.id}#{sample.try(:metric_name)}", :tabindex=>"-1", :role=>"dialog", :aria => {:labelledby=>"myModalLabel"}}
          %div.modal-dialog
            %div.modal-content
              %div.modal-header

                %h4.modal-title
                  Modal Header

              %div.modal-body
                %div.sub_chart_place{:id => "sub_project##{project.id}.metric:##{sample.try(:metric_name)}"}

              %div.modal-footer
