%h1 Editing #{@project.name}

= render 'form'

%div{:class => "owners-list"}
  %b Current Owners:
  - @owners.try(:each) do |owner|
    %div= owner.provider_username

= form_tag add_owner_project_path, :method => "post" do
  = label_tag :username, "Enter new owner's username"
  %br/
  = text_field_tag :username
  = submit_tag "Add"

- if @readonly
  = link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path
