- metric_names = @metric_names[@current_page].keys
%div.col-md-6
  %h3#gap Project Lists
%div.col-md-6
  %nav{style: 'float: right'}
    %ul.pagination
      - @metric_names.each_with_index do |m, index|
        - if index == @current_page
          %li.active
            %a{href: projects_path(page: index+1)}
              = index + 1
        - else
          %li
            %a{href: projects_path(page: index+1)}
              = index + 1

%div.slider-container.col-md-12
  %div
    Current date:
    = fa_icon "angle-left", :class => "btn btn-default btn-sm date-nav", :id => "day-before"
    %strong{:id => "date-label"}= Date.today.to_s
    = fa_icon "angle-right", :class => "btn btn-default btn-sm date-nav", :id => "day-after"
  %br/
  %div{:id => "date-slider", :num_days_from_min => @num_days_from_today }
  %div#slider-progress-indicator
    Loading...
%br/
%div.col-md-12
  %table#projectlist_new{:class => 'table table-bordered'}
    %thead
      %tr
        %th{:class => @class}
          -# = link_to "Project Name", projects_path(:type => "project_name"), :id => "project_name", :method => :get
          Project Name
        - metric_names.each do |metric_name|
          %th
            = metric_name
    %tbody
      - @projects.each do |project|
        %tr{:align => 'center'}
          = render :partial => 'metrics', :locals => {:project => project,
            :preferred_metrics => @metric_names[@current_page]}

%div{:class => 'col-md-12'}
  -if can? :create, :project
    = link_to 'Preference', user_path(current_user), :class => "btn btn-primary"
    = link_to 'Create New Project', new_project_path, :class => "btn btn-primary"
  -if can? :manage, :whitelist
    = link_to 'Privilege Control', whitelists_path, :class => "btn btn-primary"
