%div.col-md-2
  %div.metric_overview
    %h4
      Metric
    %p
      %strong
        = METRIC_NAMES[@metric_name.to_sym]
    %h4
      Team
    %p
      %strong
        = link_to @project.name, project_path(@project.id)
    %h4
      Score Trend
    %div.chart_place{id: "project-#{@project.id}-series-#{@metric_name}"}
    = link_to 'Return', project_path(@project.id), class: 'btn btn-default'
%div.col-md-8
  - @comments.each do |mc_pair|
    %h3
      = (Date.today-mc_pair.first).strftime('%Y-%m-%d')
    %div{style: 'text-align:center'}
      %div.chart_place{id: "project-#{@project.id}-ondate-#{@metric_name}-#{mc_pair.first}"}
    %br
    %table.table-striped.table
      %tbody
        - mc_pair.last.each do |comment|
          - if can? :read, comment
            %tr{class: comment.unread? ? 'success' : 'active'}
              %td
                = comment.content
%div.col-md-2
  - if can? :create, Comment
    = render partial: 'comment_form'

:javascript
  days = #{@days_from_now};
  parent_metric = {'id': #{@parent_metric.id}, 'metric_name': '#{@parent_metric.metric_name}'};
  global_project_id = #{@project.id};
