%div.slider-container.col-md-12
  %div
    Current date:
    = fa_icon "angle-left", :class => "btn btn-default btn-sm date-nav", :id => "day-before"
    %strong{:id => "date-label"}= Date.today.to_s
    = fa_icon "angle-right", :class => "btn btn-default btn-sm date-nav", :id => "day-after"
  %br/
  %div{:id => "date-slider", :num_days_from_min => @num_days_from_today }
  %div#slider-progress-indicator
    Loading...

%div.col-md-2
  %div#navbar.navbar.navbar-fixed-left{style: 'position: fixed'}
    %a.navbar-brand{heref: '#'}
      = @practice_name.humanize
    %ul.nav.nav-tabs{role:'tablist'}
      - @sub_metrics.each do |m|
        %li{role: 'presentation'}
          %a{href: "##{m}"}
            = m.humanize
%div#submetric_list.col-md-10
  - @sub_metrics.each do |metric|
    %div.container-fluid.sub-metric
      = render partial: "sub_metrics/#{metric}", locals: {project: @project}
:javascript
  days = #{@days_from_now};
