%div.col-md-2
%div.col-md-8
  - @comments.each do |mc_pair|
    %h1
      = mc_pair.first
    - mc_pair.last.each do |comment|
      %p
        = comment.content
      %br
%div.col-md-2
  - if can? :create, :comment
    = render partial: 'comment_form'

:javascript
  days = #{@days_from_now};
  parent_metric = {'id': #{@parent_metric.id}, 'metric_name': '#{@parent_metric.metric_name}'};
  global_project_id = #{@project.id};
