%h1 Editing Project Config

= form_tag update_metric_project_path, :method => :post do
  %div{:class => "panel panel-default"}
    %div.panel-heading
      %label
        = "Basic Info"
    %div.panel-body
      .input-group
        .input-group-addon
          = "Project Name:"
        %input{:type => "text", :name => "info[name]", :class => "form-control", :value => @project_name}
      .input-group
        .input-group-addon
          = "Project Owner:"
        %input{:type => "text", :name => "info[owner]", :class => "form-control"}
  %div{:class => "panel panel-default"}
    %div.panel-heading
      %label
        = "Monitered Metrics"
    %div.panel-body
      - @configs.each do |metric_name, metric_params|
        %h4
          = metric_name.titleize
        - metric_params.each do |param|
          - param.each do |name, value|
            .input-group
              .input-group-addon
                = name + ":"
              %input{:type => "text", :value => value, :name => "metrics[#{metric_name}][#{name}]", :class => "form-control"}
  = submit_tag "Finish", class: "btn btn-primary"
  = link_to 'Back', projects_path, class: "btn btn-primary"