%div.col-md-6
  %h1
    = @project.name
%div.col-md-6{style: 'text-align:right'}
  %div.btn-group{role: 'group'}
    = link_to 'Config', edit_project_path(@project), class: 'btn btn-default', role: 'button'
    = link_to 'Iterations', iterations_path, class: 'btn btn-default', role: 'button'
= render partial: 'time_slider'

%div.col-md-6
  %h2
    New Comments
  %table.table
    %tbody
      - @general_comment_groups.each do |comment_group|
        %tr
          %td
            = render partial: 'comment_thread', :locals => {:object => @project,
                                                            :comments => comment_group.second,
                                                            :thread_type => "general_metric",
                                                            :metric_name => comment_group.first}
      - @comment_groups.each do |mc_pair|
        %tr
          %td

            = render partial: 'comment_thread', :locals => {:days_ago => mc_pair.first,
                                                            :object => mc_pair.second, 
                                                            :comments => mc_pair.third,
                                                            :thread_type => "sample"}
                                                            
      - @student_task_comment_groups.each do |comment_group|
        %tr
          %td
            = render partial: 'comment_thread', :locals => {:object => comment_group.first,
                                                            :comments => comment_group.second,
                                                            :thread_type => "task"}
                                                            
      - @iteration_comment_groups.each do |comment_group|
        %tr
          %td
            = render partial: 'comment_thread', :locals => {:object => comment_group.first,
                                                            :comments => comment_group.second,
                                                            :thread_type => "iteration"}
                                                            


- metric_names = ProjectMetrics.hierarchies :metric
%div.col-md-6
  %h2
    Metrics
  %table.table.table-striped
    %tbody
      - metric_names.each do |page|
        - @project.latest_metric_samples(page).each do |sample|
          - unless sample.nil?
            %tr
              %td
                %a.detail-link{href:"/projects/#{@project.id}/metrics/#{sample.metric_name}/detail", style: 'width:100%;height:100%;'}
                  = METRIC_NAMES[sample.metric_name.to_sym]
                  %span.badge
                    = sample.comments.length
              %td{style: 'text-align: center'}
                %div.chart_place{:id => "project-#{@project.id}-metric-#{sample.try(:metric_name)}"}
              %td{style: 'text-align: center'}
                %div.chart_place{id: "project-#{@project.id}-series-#{sample.try(:metric_name)}"}

%div.col-md-12
  %div.col-md-6
    %h2
      Other Teams
    - if @display_type.eql? 'metric'
      = link_to 'switch to time view', project_path(@project, page: @current_page+1, type: 'series')
    - else
      = link_to 'switch to metric view', project_path(@project, page: @current_page+1, type: 'metric')
  %div.col-md-6
    %nav{style: 'float: right'}
      %ul.pagination
        - metric_names.each_with_index do |m, index|
          - if index == @current_page
            %li.active
              %a{href: project_path(@project, page: index+1, type: @display_type)}
                = index + 1
          - else
            %li
              %a{href: project_path(@project, page: index+1, type: @display_type)}
                = index + 1

= render :partial => 'metric_table',
         :locals => { metric_names: metric_names[@current_page],
                      projects: Project.all.reject { |p| p.id == @project.id } }

:javascript
  keep_log=true;