%div.col-md-6
  %h1
    = @project.name
%div.col-md-6{style: 'text-align:right'}
  %div.btn-group{role: 'group'}
    = link_to 'Config', edit_project_path(@project), class: 'btn btn-default', role: 'button'

= render partial: 'time_slider'

%div.col-md-6
  %h2
    Comments
  %table.table.table-striped
    %thead
      %tr
        %th
          Comment
        %th
          Metric
        %th
          Operation
    %tbody
      - @project.comments.select(&:unread?).each do |cmnt|
        - sample = cmnt.metric_sample
        %tr{id: "comment_#{cmnt.id}"}
          %td
            = cmnt.content
          %td{style: 'text-align: center'}
            %div.chart_place{:id => "project-#{@project.id}-ondate-#{sample.metric_name}-#{sample.days_ago}"}
          %td.btn-default.btn.btn-sm{onclick: "read_comment(#{cmnt.id})"}
            Mark as read
%div.col-md-6
  %h2
    Metrics
  %table.table.table-striped
    %tbody
      - current_user.preferred_metrics.each do |page|
        - @project.latest_metric_samples(page.keys).each do |sample|
          %tr
            %td
              %a.detail-link{href:"/projects/#{@project.id}/metrics/#{sample.metric_name}/detail", style: 'width:100%;height:100%;'}
                = sample.metric_name
                %span.badge
                  = sample.comments.length
            %td{style: 'text-align: center'}
              %div.chart_place{:id => "project-#{@project.id}-metric-#{sample.try(:metric_name)}"}
            %td{style: 'text-align: center'}
              %div.chart_place{id: "project-#{@project.id}-series-#{sample.try(:metric_name)}"}

- metric_names = ProjectMetrics.hierarchies :metric
%div.col-md-12
  %div.col-md-6
    %h2
      Other Teams
    - if @display_type.eql? 'metric'
      = link_to 'switch to time view', project_path(@project, page: @current_page+1, type: 'series')
    - else
      = link_to 'switch to metric view', project_path(@project, page: @current_page+1, type: 'metric')
  %div.col-md-6
    %nav{style: 'float: right'}
      %ul.pagination
        - metric_names.each_with_index do |m, index|
          - if index == @current_page
            %li.active
              %a{href: project_path(@project, page: index+1, type: @display_type)}
                = index + 1
          - else
            %li
              %a{href: project_path(@project, page: index+1, type: @display_type)}
                = index + 1

= render :partial => 'metric_table',
         :locals => { metric_names: metric_names[@current_page],
                      projects: Project.all.reject { |p| p.id == @project.id } }