<%= form_for(@project_grading) do |f| %>
  <% if @project_grading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_grading.errors.count, "error") %> prohibited this project_grading from being saved:</h2>

      <ul>
      <% @project_grading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :metric_name %><br>
    <%= f.text_field :metric_name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
