<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_grading.project %>
</p>

<p>
  <strong>Metric name:</strong>
  <%= @project_grading.metric_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @project_grading.grade %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project_grading.created_at %>
</p>

<%= link_to 'Edit', edit_project_grading_path(@project_grading) %> |
<%= link_to 'Back', project_gradings_path %>
