= form_tag iteration_path(@iteration.id), :method => :put do

  = label :iteration, :name, 'Name'
  = text_field :iteration, 'name'

  = label :iteration, :start, 'Start Date'
  = date_select :iteration, "start"

  = label :iteration, :end, 'End Date'
  = date_select :iteration, :end

  = submit_tag 'Save Iteration', :class => "btn btn-primary"

= form_tag iteration_path(@iteration.id), :method => :delete do
  
  = submit_tag 'Delete Iteration', :class => "btn btn-primary"