%p= link_to "Back", iterations_path
- if flash[:message]
    %p= flash[:message]


%table.table#Tasks
    %thead
        -if !@tasks.empty?
            %h2 Current Tasks:
            %tr
                %th= "Title"
                %th="Description"
    %tbody        
        - @tasks.each do |t|
            %tr
                %td= link_to t.title, edit_task_path(t.id)
                %td= t.description
                // %td= iteration.end


.btn.btn-primary= link_to "Add new task", new_task_view_path(@iteration.id), :style => "color: white;text-decoration: none;"

%h2 Iteration "#{@iteration.name}":
= form_tag iteration_path(@iteration.id), :method => :put do
    %br
    .form-group
        = label :iteration, :name, 'Name: '
        = text_field :iteration, 'name', class: "form-control"
    %br
    = label :iteration, :start, 'Start Date: '
    = date_select :iteration, "start"
    %br
    %br
    = label :iteration, :end, 'End Date: '
    = date_select :iteration, :end
    %br
    %br
    
    = submit_tag 'Save Iteration', :class => "btn btn-primary"
    
    
%br
= form_tag iteration_path(@iteration.id), :method => :delete do
    = submit_tag 'Delete Iteration', :class => "btn btn-primary"


