%table#iterations
    %tbody
        - @iterations.each do |iteration|
            %tr
                %td= link_to iteration.name, edit_iteration_path(iteration.id)
                %td= iteration.start
                %td= iteration.end

= form_tag iterations_path, :method => :post do
    = submit_tag "New Iteration", :class => "btn btn-primary"
