// %form{ :action => "/whitelist/add", :method => "post"}
//  %fieldset
//   %ol
//    %li
//     %label{:for => "email"} Email:
//     %input{:type => "text", :name => "email", :class => "text"}
//    %li
//     %label{:for => "role"} Role:
//     %input{:type => "text", :name => "role", :class => "text"}
//   %input{:type => "submit", :value => "Add", :class => "button"}


= form_tag '/whitelist/add' do
  = field_set_tag do
    = label_tag :email, 'Email'
    = text_field_tag :email
    = label_tag :role, 'Role'
    = text_field_tag :role
    = submit_tag 'Add'