<%= form_for(@rubric) do |f| %>
  <% if @rubric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubric.errors.count, "error") %> prohibited this rubric from being saved:</h2>

      <ul>
      <% @rubric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iteration %><br>
    <%= f.number_field :iteration %>
  </div>
  <div class="field">
    <%= f.label :metric_name %><br>
    <%= collection_select :rubric, :metric_name, ProjectMetrics.metric_names, :to_s, :humanize %>
  </div>
  <div class="field">
    <%= label_tag :maximal, 'Max' %><br>
    <%= number_field_tag 'rubric[params][max]', @params[:max] %>
  </div>
    <div class="field">
      <%= label_tag :weight, 'Weight' %><br>
      <%= number_field_tag 'rubric[params][weight]', @params[:weight] %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
