<%- @parameters.each_pair do |sid, sparam| %>
    <%- story = find_story(sid) %>
    <%- if sparam['state'] == 0 %>
        <div class="param-unassigned">
          <h3>Story Name</h3>
          <p><%= "#{story['name']}" %></p>
          <h3>Description</h3>
          <p><%=story['description']%></p>
          <div class="field">
            <%= f.label :smart %><br>
            <%= number_field_tag "metric_parameter[#{sid}][smart]" %>
          </div>
          <div class="field">
            <%= f.label :complexity %><br>
            <%= number_field_tag "metric_parameter[#{sid}][complexity]" %>
          </div>
        </div>
    <%- else %>
        <div class="param-assigned">
          <h3>Story Name</h3>
          <p><%= "#{story['name']}" %></p>
          <h3>Description</h3>
          <p><%=story['description']%></p>
          <div class="field">
            <%= f.label :smart %><br>
            <%= number_field_tag "metric_parameter[#{sid}][smart]", value=sparam['smart'] %>
          </div>
          <div class="field">
            <%= f.label :complexity %><br>
            <%= number_field_tag "metric_parameter[#{sid}][complexity]", value=sparam['complexity'] %>
          </div>
        </div>
    <%- end %>
<%- end %>